* {
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
@font-face{
  font-family: 'Poppins';
  font-weight: 900;
  src: local('Poppins'), url(../fonts/Poppins-Bold.ttf) format('truetype');
}

#world {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #131313;
}

body {
  
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
    overflow-x: hidden;
    
    background: #272727 !important;
}

.CategoryPage{
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.box{
  position: relative;
  width: 100px;
  height: 200px;
  padding: 100px;
  transform-style: preserve-3d;
  animation: ScrollAni 20s infinite linear;
  z-index: 8;
}



 
@keyframes ScrollAni{
  0%{
    transform: perspective(1000px) rotateY(0deg);
  }
  100%{
    transform: perspective(1000px) rotateY(360deg);
  }
}

.box span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 75deg)) translateZ(400px);
  -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

.box span img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}


.NavBarHeader{
  color: #fff;
  font-weight: 800;
  margin-top: 20px;
  text-decoration: none;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.BoardPage{
  z-index: 9;
  margin-bottom: 10%;
}

.BoardPage .Content{
  display: inline-block;
  position: absolute;
  left: 16%;
  margin-top: -250px;
  width: 130vh;
  height: 150vh;
  padding-bottom: 40px;
  border-radius: 6px;
  z-index: 9;
  backdrop-filter: blur(15px);
  border-top: 1px solid rgba(151, 151, 151, 0.2);
  border-left: 1px solid rgba(151,151,151,0.2);
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}

code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  width: 90%;
}


.PageList ul{
  position: relative;
  background: #fff;
  width: 50%;
  display: inline-flex;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(0,0,0,.2);

}

.PageList ul li{
  list-style: none;
  line-height: 50px;
  margin: 0 5px;
}

ul li.pageNumber{
  margin-right: 40px;
  margin-left: 40px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.PageList ul li a{
  display: block;
  text-decoration: none;
  color: #777;
  font-weight: 600;
  border-radius: 50%;
  border: none;
}

ul li.pageNumber:hover a,
ul li.pageNumber.active a{
  background: #333;
  color: #fff;
}

section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  align-items: center;
  background: #21283a;
}

section::before{
  content: '';
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: #ed325f;
  transition: 1s;
}

section.banneractive::before{
  background: #21283a;
  box-shadow: 0 0 0 1200px #1ede6e;
}

/* header .toggle{
  position: relative;
  width: 30px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  cursor: pointer;
} */

header .active{
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;

}

.toggle {
  position: relative;
  background-color: transparent;
  left: 48%;
  border: 0;
  outline: 0;
  visibility: visible;
  opacity: 1;
}

.toggleactive {
  position: relative;
  background-color: transparent;
  left: 48%;
  border: 0;
  outline: 0;
}

.blogtoggle{
  visibility: hidden;
  opacity: 0;
}

.content{
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.5s;
}
.content .contentBx{
  position: relative;
  max-width: 600px;
}

.content .contentBx h4{
  font-weight: 400;
  color: #1ede6d;
  font-size: 1.5em;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.content .contentBx h2{
  font-size: 4em;
  line-height: 1em;
  color: #fff
}
.content .contentBx h3{
  font-weight: 300;
  color: #fff;
  font-size: 2em;
  line-height: 1.5em;
}

.content .contentBx p{
  font-size: 1em;
  color: #fff;
  margin: 10px 0 20px;
  font-weight: 300;
}

.content .contentBx a{
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
  background: #ed325f;
  letter-spacing: 2px;
}

.content .contentBx a:last-child{
  background: #1ede6d;
  color: #111;
}
.content .contentBx a:hover{
  letter-spacing: 4px;
  background: #fff;
  color: #111;
}
.banneractive .content{
  transform: scale(0);
  /* transform-origin: left; */
}
.menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 100px;
  transition: 0.5s;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
}
.banneractive .menu{
  visibility: visible;
  opacity: 1;
}
.menu li{
  list-style: none;
}
.menu li a{
  color: #08381b;
  text-decoration: none;
  font-size: 2em;
  padding: 5px 15px;
  display: inline-block;
  transition: 0.2s ease-in-out;
}
.menu li a:hover{
  letter-spacing: 6px;
  background: #fff;
  color: #161a23;
}
.sci{
  position: absolute;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banneractive .elements{
  visibility: hidden;
  opacity: 0;
}
.navigation{
  position: fixed;
  height: 100vh;
  right: 1px;
  width: 220px;
  margin-top: 20px;
  visibility: visible;
  opacity: 1;
}
.navigation ul{
  list-style: none;
}
.navigation li{
  color: #fff;
  transition: 0.4s;
  width: 70%;
}
.navigation li:hover{
  letter-spacing: 4px;
  background: rgb(71, 242, 28);
  color: #111;
  
}
.nonavigation{
  visibility: hidden;
  opacity: 0;
}

/* .Loading{

} */

